spring:
  application:
    name: "Ngelmak Project"

  profiles:
    active: dev # or prod

  config.import: vault:// # Enable Vault as a Config Data source. This requires at least one Vault backend to be enabled and resolvable.
  cloud:
    vault:
      uri: http://localhost:8200
      authentication: approle
      fail-fast: true # Enable fail-fast to force confirmation. Spring Boot to crash immediately when Vault/OpenBao is not reachable
      app-role:
        role-id: 8a23bd57-a50a-79a3-0ae7-4964e5918ac0
        secret-id: 0e66597f-7c9e-7ed8-8b68-897d2646c9ae
      database:
        enabled: false
        backend: database
        role: ngelmak-rw-role
      kv:
        application-name: "" # skip the application name prefix
        enabled: true
        backend: kv
        default-context: jjwt
        profile-separator: "/" # kv/jjwt/dev or kv/jjwt/prod

  datasource:
    hikari:
      initialization-fail-timeout: 0
    url: jdbc:postgresql://localhost:5000/ngelmakauthdb
    username: app_migrator
    password: migratorpass

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none # Use application-bootstrap.yml for updating the database schema

  liquibase:
    enabled: false

  jackson:
    serialization:
      fail-on-empty-beans: false

  mail:
    host: smtp.xxx.com
    username: xxx@xxx.com
    password: xxxxx
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

  servlet:
    multipart:
      enabled: true
      max-file-size: 30MB
      max-request-size: 30MB
      resolve-lazily: false

  resources:
    cache-period: 86400

server:
  host: localhost
  port: 4042
  protocol: http

logging:
  level:
    org.springframework.vault: DEBUG
    # org.springframework.jdbc.datasource: DEBUG
    # org:
    #   hibernate:
    #     SQL: WARN
    #   springframework:
    #     jdbc:
    #       core:
    #         JdbcTemplate: DEBUG
    #         StatementCreatorUtils: TRACE
    org.springframework.boot.autoconfigure: INFO

debug: true

ngelmak:
  security:
    authentication:
      jwt:
        base64-secret: NzgwODE3NjExMzk1MDFjYzc2NmRjMmM2Yjc0ZTYyMGUxODM3ZThjMzk0ZTliMTE0MjhlNjliOWRhYTI2MzFkN2RkMGU3NDVhYTA0MzRkNTBkNGEzYmZlMzE1MTg4ZjVmYzA5NmFlNTEyZjkyZjYxMGJlMTM1NmU3ZmU0NDg2Yjk=
        token-validity-in-seconds: 86400
        token-validity-in-seconds-for-remember-me: 2592000

  clientApp:
    name: "Ngelmak Project"

  mail:
    base-url: http://127.0.0.1:8080

  file:
    upload-directory:
      location: ./ngelmak-directory/files
    public:
      access:
        location: /resources/public/files
    private:
      access:
        location: /resources/files