<p>
  <span th:text="#{email.activation.greeting}"></span>
  <span th:if="${firstName}">
    <strong th:text="${firstName}"></strong> </span
  >,
</p>

<p style="margin-top: 20px">
  <span th:text="#{email.activation.username}"></span>
  <strong th:text="${username}"></strong>
</p>

<p>
  <span th:text="#{email.activation.intro}"></span>
  <strong th:text="${applicationName}"></strong>.
  <span th:text="#{email.activation.action}"></span>
</p>

<a
  th:href="${activationUrl}"
  class="button"
  th:text="#{email.activation.button}"
></a>

<p style="margin-top: 20px">
  <span th:text="#{email.activation.copyLink}"></span><br />
  <a
    th:href="${activationUrl}"
    th:text="${activationUrl}"
    style="word-break: break-all"
  ></a>
</p>

<p style="margin-top: 30px">
  <span th:text="#{email.activation.ignore}"></span>
</p>
