<p>
  <span th:text="#{email.welcome.greeting}"></span>
  <span th:if="${firstName}">
    <strong th:text="${firstName}"></strong> </span
  >,
</p>

<p>
  <span th:text="#{email.welcome.intro1}"></span>
  <strong th:text="${associationName}"></strong>
  <span th:text="#{email.welcome.intro2}"></span>
</p>

<p>
  <span th:text="#{email.welcome.explore}"></span>
</p>

<a th:href="${loginUrl}" class="button" th:text="#{email.welcome.button}"></a>

<p style="margin-top: 30px">
  <span th:text="#{email.welcome.thanks}"></span>
</p>
